<!-- <div class="container">
    <h2>Add reserv</h2>
    <form #addreservform="ngForm" (ngSubmit)="addreservformsubmit()">
        <div class="form-group">
            <label for="nombre">Id reserv:</label>
            <input value="reserv" type="text" class="form-control" required [(ngModel)]="reserv.idreserv" name="reserv">
        </div>
        <div class="form-group">
            <label for="id_usuario">Id user</label>
            <input value="44" type="text" class="form-control" required [(ngModel)] = "usuario.id_Usuario"  name="id_Usuario">
        </div>
        <div class="form-group">
            <label for="activo">Activo:</label>
            <select name="activo" id="activo" class="form-control" required [(ngModel)]="usuario.activo">
                <option value="0">N</option>
                <option value="1" selected>S</option>
              </select>
        </div>
         <div class="form-group">
            <label for="id_Rol">Rol:</label>
            <select name="id_Rol" id="id_Rol" class="form-control" required [(ngModel)]="usuario.id_Rol" >
                <option value="1" selected>ADMINISTRADOR</option>
                <option value="2">AUDITOR</option>
                <option value="3">AUXILIAR</option>
              </select>
        </div>
        <input type="submit" value="Crear" >
    </form>
</div> -->
